html {
  margin: 0px;
  width: 100%;
  height: 100%;
  position: relative;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

#root {
  position: relative;
  width: 900px;
  height: 675px;
  margin-top: 80px;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  background-color: #f0bb5a;
  color: white;
  padding: 10px 20px;
  border-radius: 40px;
  border: 3px solid white;
  font-family: 'Yusei Magic', sans-serif;
  font-size: 20px;
}

button:hover {
  background-color: white;
  color: #f0bb5a;
  border: solid #f0bb5a;
}

button:active {
  border: none;
}

/* INTRO */
#introScreen {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('./img/Intro2.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

#introScreen button {
  justify-content: center;
  margin-top: 230px;
  font-size: 40px;
  padding: 15px 30px;
  border-width: 6px;
}

/* RAT SELECT */
#ratSelectScreen {
  margin: 30%;
}

#ratSelectScreen .selectedRat {
  color: blue;
  background-color: lightpink !important;
}

#ratSelectScreen .ratList {
  cursor: pointer;
  margin: 10px;
  padding: 5px;
  font-weight: bold;
  background-color: lightblue;
}

/* TALKING TO RATS */
#talkingToRatsScreen {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 20%;
}

#talkingToRatsScreen #ratName {
  font-weight: bold;
  font-size: 30px;
}

/* ROSE CEREMONY */
#roseCeremonyScreen {
  margin: 30%;
}

#roseCeremonyScreen .selectedRat {
  color: red;
  background-color: rgb(219, 187, 255) !important;
}

#roseCeremonyScreen .ratList {
  cursor: pointer;
  margin: 10px;
  padding: 5px;
  font-weight: bold;
  background-color: lightpink;
}

/* ANIME ENDING */
#animeEndingScreen {
  width: 60%;
  height: 100%;
  margin: 20%;
  font-size: 30px;
  color: green;
}
