html {
  margin: 0px;
  width: 100%;
  height: 100%;
  position: relative;
}
/* img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
} */
body {
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  background-image: url(./img/Backgrounds/background2.png);
  background-size: 350px 285px;
}

#root {
  position: relative;
  width: 900px;
  height: 675px;
  margin-top: 120px;
}

.screen {
  width: 900px !important;
  height: 675px !important;
}

#game {
  position: relative;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#mobile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#mobile-message {
  color: rgb(109, 33, 21);
  background-color: rgb(255, 230, 226);
  font-family: 'Yusei Magic', sans-serif;
  width: 80%;
  font-size: 18px;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
}

#mobile-img {
  width: 200px;
  padding-top: 30px;
}

#frame {
  position: absolute;
  z-index: 1000;
  margin-left: -110px;
  margin-top: -113px;
  pointer-events:none;
  user-drag: none; 
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
}

* {
  box-sizing: border-box;
}

#hideme {
  visibility: none;
  background-image: url('img/preview.png');
}

button {
  cursor: pointer;
  background-color: #f0bb5a;
  color: white;
  padding: 10px 20px;
  border-radius: 40px;
  border: 3px solid white;
  font-family: 'Yusei Magic', sans-serif;
  font-size: 20px;
}

button:hover {
  background-color: white;
  color: #f0bb5a;
  border: solid #f0bb5a;
}

button:focus {
  outline: 0;
}

/* INTERLUDE */

#interludeContainer {
  overflow: hidden;
  width: 900px;
  height: 732px;
  position: absolute;
  background-color: black;
}

#interlude {
  width: 900px;
  z-index: 900;
  height: 750px;
  bottom: 950px;
  margin-top: 10px;
  background-image: url('img/Backgrounds/curtains.png');
  background-size: 100%;
  position: absolute;
  display: flex;
  justify-content: center;

}

#interludeText {
  font-family: 'Yusei Magic', sans-serif;
  font-size: 50px;
  margin-top: 180px;
  text-shadow: 3px 3px white;
  color: rgb(243, 183, 18);
}

/* INTRO */
#introScreen {
  width: 900px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('img/Backgrounds/Intro2.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

#introScreen button {
  justify-content: center;
  margin-top: 230px;
  font-size: 40px;
  padding: 15px 30px;
  border-width: 6px;
}

/* RAT SELECT */
#ratSelectScreen {
  animation: fadeIn ease 3s;
  width: 900px;
  height: 100%;
  background-color: rgb(255, 197, 187);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ratSelectScreen button {
  background-color: #a72121;
  padding-top: 5px;
  padding-bottom: 6px;
}

#ratSelectScreen .selectedRat {
  color: blue;
}

.ratHearts {
  display: none;
}

#ratSelectScreen .selectedRat .ratHearts {
  display: block;
}

#ratSelectScreen button {
  color: rgb(232, 190, 27);
  border: 2px solid rgb(232, 190, 27);
}

#ratSelectScreen button:hover {
  color: white;
  border: 2px solid white;
}

#ratSelectScreen #ratListContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}

#ratSelectScreen #ratContainer {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 2px;
  margin-right: 2px;
}

#ratSelectScreen .ratListItem {
  cursor: pointer;
  height: 150px;
  width: 130px;
  padding-left: 0;
  padding-top: 14px;
  padding-bottom: 30px;
  font-weight: bold;
  position: relative;
}

#ratSelectScreen .ratNameContainer {
  font-family: 'Yusei Magic';
  font-size: 16px;
  text-align: center;
  padding-bottom: 10px;
  color: rgb(59, 17, 11);
  border: 6px solid rgb(232, 190, 27);
  background-color: rgb(236, 217, 165);
  position: absolute;
  border-radius: 12px;
  padding: 2px;
  width: 140px;
  left: 0;
  right: 0;
  top: 150px;
  display: none;
  z-index: 999;
}

#ratSelectScreen .ratTagline {
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  padding: 5px;
}

#ratSelectScreen .ratFrame,
.ratHearts {
  width: 100%;
  transform: scale(1.25);
  position: absolute;
}

#ratSelectScreen .ratPic {
  position: relative;
}

#ratSelectScreen .ratPic:hover + .ratNameContainer {
  display: block;
}

.stillRats .ratPic:hover {
  filter: grayscale(0) !important;
}

#ratSelectScreen .ratPic:hover {
  animation: pulse ease-in 0.2s;
  transform: scale(1.3);
}

#ratSelectScreen #chooseText {
  font-family: 'Yusei Magic';
  font-size: 28px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 10px;
  color: rgb(146, 122, 56);
  background-color: rgb(236, 217, 165);
  border-bottom: 2px solid rgb(232, 190, 27);
  width: 100%;
  text-align: center;
  height: 70px;
}

#ratSelectScreen button {
  margin-top: -15px;
}

/* TALKING TO RATS */
#talkingToRatsScreen {
  overflow: hidden;
  background-image: url('img/Backgrounds/couch_nobox.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 900px;
  height: 100%;
  position: relative;
}

#talkingToRatsScreen #ratName {
  font-family: 'Yusei Magic', sans-serif;
  font-size: 24px;
  background-color: #ad8f18;
  color: #ecd9a5;
  width: fit-content;
  padding: 5px 20px;
  margin-left: 20px;
  border-radius: 10px 10px 0 0;
}

#talkingToRatsScreen #ratDialogue {
  font-family: 'Yusei Magic', sans-serif;
  font-size: 20px;
  padding: 15px 35px;
  background-color: #d6c581;
  width: 900px;
  padding-bottom: 65px;
  border-top: 13px solid #ad8f18;
}

#talkingToRatsScreen #dialogueContainer {
  position: absolute;
}

#talkingToRatsScreen button {
  font-size: 17px;
  padding: 5px 10px;
  margin-right: 4px;
  border: 2px;
  background-color: #d58d00;
}

#talkingToRatsScreen button:hover {
  background-color: #ecd9a5;
  color: #d58d00;
}

#talkingToRatsScreen #responses {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
}

#talkingToRatsScreen #talkingRat,
#playerRat {
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
}

#talkingToRatsScreen #playerRat {
  left: 0;
  top: 0;
}

/* ROSE CEREMONY */
#roseCeremonyScreen {
  background-image: url('img/RoseCeremony/Background.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 900px;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

#ratSelectScreen .selectedRat {
  /* background-color: #c55f52 !important; */
  border-radius: 20px;
}

#ratSelectScreen .ratPic {
  filter: grayscale(1) brightness(1.3) contrast(1);
}

.selectedRat .ratPic {
  filter: grayscale(0) !important;
}

#roseCeremonyScreen .ratList {
  cursor: pointer;
  margin: 0;
  padding: 5px;
  font-weight: bold;
  /* background-color: lightpink; */
  width: fit-content;
  position: relative;
}

.ratList .rosePic {
  width: 40px;
  position: absolute;
  left: 50px;
  top: 65px;
  display: none;
}

.selectedRat .rosePic {
  display: block;
}

#roseCeremonyScreen #ratListContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 80px;
}

#roseCeremonyScreen .ratPic {
  width: 120px;
}

#roseCeremonyScreen .roseIcon {
  width: 40px;
}

#roseCeremonyScreen #roseContainer {
}

/* ANIME ENDING */
#animeEndingScreen {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: black;
}

#animePic {
  animation: fadeIn ease 10s;
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

#animeText {
  font-family: 'Yusei Magic';
  font-size: 20px;
  position: absolute;
  padding: 20px 40px;
  animation: slideUp ease 7s;
  background-color: rgba(236, 217, 165, 0.85);
  color: #4b4015;
  bottom: 0px;
  width: 100%;
}

#restartButton {
  position: absolute;
  opacity: 1;
  animation: fadeInDelay ease 9s;
  right: 10px;
  top: 10px;
}

/* ANIMATIONS */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInDelay {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }
}

@keyframes slideUp {
  0% {
    bottom: -500px;
  }
  100% {
    bottom: 0px;
  }
}

.reaction-animation {
  position: relative;
  height: 5px;
  width: 5px;
  animation: emote-container-up 700ms 0s forwards;
}

.reaction-emote {
  position: absolute;
  animation-timing-function: linear;
  animation-duration: 4s;
  animation-delay: 150ms;
  animation-fill-mode: forwards;
}

.reaction-emote-1 {
  animation-name: emote-1;
}

.reaction-emote-2 {
  animation-name: emote-2;
}

.reaction-emote-3 {
  animation-name: emote-3;
}

.reaction-emote-4 {
  animation-name: emote-4;
}
.reaction-emote-5 {
  animation-name: emote-5;
}

@keyframes emote-container-up {
  0% {
    transform: translate3d(0px, 0px, 0px) scale(1);
  }
  100% {
    transform: translate3d(0px, -20px, 0px) scale(1.6);
  }
}

@keyframes emote-1 {
  from {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
  to {
    opacity: 0;
    transform: translate3d(-10px, -40px, 0px);
  }
}

@keyframes emote-2 {
  from {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
  to {
    opacity: 0;
    transform: translate3d(-50px, -70px, 0px);
  }
}

@keyframes emote-3 {
  from {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
  to {
    opacity: 0;
    transform: translate3d(70px, -65px, 0px);
  }
}

@keyframes emote-4 {
  from {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
  to {
    opacity: 0;
    transform: translate3d(-60px, -45px, 0px);
  }
}

@keyframes emote-5 {
  from {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
  to {
    opacity: 0;
    transform: translate3d(5px, -80px, 0px);
  }
}

#game-options {
  position: absolute;
  top: 5px;
  left: 15px;
  display: flex;
  align-items: center;
}

.sound-icon {
  width: 30px;
  height: 30px;
  margin-right: 4px;
  cursor: pointer;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
  cursor: pointer;
  height: 48px;
  margin: 0px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid #977c40;
  height: 36px;
  width: 16px;
  border-radius: 8px;
  background: #fffec6;
  cursor: pointer;
  margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 0px 0px #977c40; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  border: 2px solid #977c40;
  height: 36px;
  width: 16px;
  border-radius: 8px;
  background: #fffec6;
  cursor: pointer;
  margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 0px 0px #977c40; /* Add cool effects to your sliders! */
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  border: 2px solid #977c40;
  height: 36px;
  width: 16px;
  border-radius: 8px;
  background: #fffec6;
  cursor: pointer;
  margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 0px 0px #977c40; /* Add cool effects to your sliders! */
}

.sound-slider{
  position: relative;
  width: 100px;
  height: 48px;
}

.sound-slider input{
  position: absolute;
  width: 100%;
  z-index: 1;
}

.sound-slider .behind-slider{
  position: absolute;
  width: 100%;
  margin-top: 15px;
  height: 20px;
  z-index: 0;
  border-radius: 4px;
  border: 2px solid #977c40;
}

.player-img{
  width: 180px;
  flex-grow: 0;
  position: relative;
  filter: grayscale(1) brightness(1.2) contrast(0.8);
  z-index: 0;
}

#custom-character{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(221, 235, 219);
}

#custom-character-row{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 24px;
}

#ratchelor-intro{
  width: 60%;
  text-align: center;
  font-family: 'Yusei Magic', sans-serif;
}

#ratchelor-intro-question{
  font-family: 'Yusei Magic', sans-serif;
  margin-top: 24px;
  font-style: italic;
  margin-bottom: 24px;
}

.player-img:hover{
  animation: wiggle 750ms linear 0s infinite forwards;
  filter: grayscale(0);
  transition: filter 500ms;
  cursor: pointer;
}

.player-img img{
  position: relative;
  width: 100%;
}

.player-img.selected-img{
  filter: grayscale(0);
}

.selected-bg{
  position: absolute !important;
  left: 0px;
  top: 0px;  
  width: 150%;
  height: 130%;
  margin-top: -15%;
  margin-left: -15%;
  z-index: 2;
}

#button-container{
  height: 55px;
  width: 130px;
}

@keyframes wiggle {
  0% {
    transform: translate3d(0, 0, 0) rotateZ(0deg);
  }
  25%{
    transform: translate3d(10px, 0, 0) rotateZ(3deg);
  }
  50%{
    transform: translate3d(0px, 0, 0) rotateZ(0deg);
  }
  75%{
    transform: translate3d(-10px, 0, 0) rotateZ(-3deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotateZ(0deg);
  }
}