html {
  margin: 0px;
  min-width: 100%;
  min-height: calc(var(--vh, 1vh) * 100);
  position: relative;
  background-image: url(./img/Backgrounds/wallpaper.png);
  background-size: 350px 285px;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#root {
  width: 100%;
  height: 100%;
  position: relative;
}

.screen {
  width: 900px !important;
  height: 675px !important;
}

#game {
  position: relative;
  width: 900px;
  height: 675px;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#safari-container {
  z-index: 9999999;
  color: rgb(116, 94, 30);
  color: white;
  font-size: 19px;
  padding-bottom: 3px;
  padding-top: 2px;
  font-family: 'Yusei Magic';
  position: absolute;
  top: -31px;
  left: 0;
  right: 0;
  margin: auto;
  width: 900px;
  background-color: #744d21;
  text-align: center;
  display: flex;
  justify-content: center;
}

#safari-button {
  margin-left: 20px;
  background-color: rgb(223, 197, 52);
  color: #744d21;
  border-radius: 15px;
  width: 20px;
  height: 20px;
  line-height: 0.75;
  margin-top: 4px;
  cursor: pointer;
}

#safari-button:hover {
  color: rgb(206, 165, 29);
  background-color: rgba(255, 255, 255, 0.9);
}

#frame {
  position: absolute;
  z-index: 1000;
  margin-left: -110px;
  margin-top: -113px;
  pointer-events: none;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#ratchelor2 {
  position: absolute;
  z-index: 10001;
  text-align: center;
  margin-left: 200px;
  top: 677px;
  color: rgb(116, 94, 30);
  font-family: 'Yusei Magic', sans-serif;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

#hideme {
  visibility: none;
  background-image: url('img/preview.png');
}

button {
  cursor: pointer;
  background-color: #f0bb5a;
  color: white;
  padding: 10px 20px;
  border-radius: 40px;
  border: 3px solid white;
  font-family: 'Yusei Magic', sans-serif;
  font-size: 20px;
}

button:hover {
  background-color: white;
  color: #f0bb5a;
  border: solid #f0bb5a;
}

button:focus {
  outline: 0;
}

/* INTERLUDE */

#interludeContainer {
  overflow: hidden;
  width: 900px;
  height: 732px;
  position: absolute;
  background-color: black;
}

.preloading-true #interludeContainer {
  background-color: #ffdadc;
}

#interlude {
  width: 900px;
  z-index: 900;
  height: 750px;
  margin-top: 10px;
  background-image: url('img/Backgrounds/curtains.png');
  background-size: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  /* bottom: 0 !important; */
}

.curtainsOff {
  bottom: 950px;
}

.curtainsIn {
  animation: curtainsIn ease-out 0.4s;
  bottom: -30px;
}

.curtainsOut {
  animation: curtainsOut ease-in 0.4s;
  bottom: 950px;
}

@keyframes curtainsIn {
  0% {
    bottom: 950px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes curtainsOut {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 950px;
  }
}

#interludeText {
  font-family: 'Yusei Magic', sans-serif;
  font-size: 60px;
  margin-top: 290px;
  color: white;
}

/* INTRO */
#introScreen {
  width: 900px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('img/Backgrounds/intro.gif');
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}

#introScreen.loading-true {
  background-color: #ffdadc;
}

#introScreen.loading-false {
  background-color: black;
}

#introScreen #loadingText {
  font-family: 'Yusei Magic', sans-serif;
  font-size: 48px;
  left: 420px;
  bottom: 240px;
  position: absolute;
  color: #86141a;
}

#introScreen button {
  justify-content: center;
  margin-top: 250px;
  font-size: 48px;
  background-color: #dfaa13;
  padding: 8px 30px;
  border-width: 8px;
  font-family: 'Sofia', cursive;
  border-radius: 42px;
}

#introScreen button:hover {
  background-color: white;
  border-color: #f3bb1c;
}

/* RAT SELECT */
#ratSelectScreen {
  animation: fadeIn ease 3s;
  width: 900px;
  height: 100%;
  background-color: #ffe5e5;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ratSelectScreen button {
  background-color: #ffffff;
  /* border: 3px solid #fe97b0; */
  color: #dd8d9d;
  padding-top: 6px;
  font-size: 24px;
  padding-bottom: 8px;
  border: none;
}

#ratSelectScreen .selectedRat {
  color: blue;
}

.ratHearts {
  display: none;
}

#ratSelectScreen .selectedRat .ratHearts {
  display: block;
}

#ratSelectScreen button:hover {
  color: #ffffff;
  background-color: #eda9b7;
  border: none;
}

#ratSelectScreen #ratListContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}

#ratSelectScreen #ratContainer {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 2px;
  margin-right: 2px;
}

#ratSelectScreen .ratListItem {
  cursor: pointer;
  height: 150px;
  width: 130px;
  padding-left: 0;
  padding-top: 14px;
  padding-bottom: 30px;
  font-weight: bold;
  position: relative;
}

#ratSelectScreen .ratNameContainer {
  font-family: 'Yusei Magic';
  font-size: 16px;
  text-align: center;
  padding-bottom: 10px;
  background-color: white;
  color: #a5596a;
  border: 6px solid #eda9b7;
  color: rgb(59, 17, 11);
  border: 6px solid rgb(232, 190, 27);
  background-color: rgb(255, 241, 203);
  position: absolute;
  border-radius: 12px;
  padding: 2px;
  width: 140px;
  left: 0;
  right: 0;
  top: 150px;
  display: none;
  z-index: 999;
}

#ratSelectScreen .ratTagline {
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  padding: 5px;
}

#ratSelectScreen .ratFrame,
.ratHearts {
  width: 100%;
  transform: scale(1.25);
  position: absolute;
}

#ratSelectScreen .ratPic {
  position: relative;
}

#ratSelectScreen .ratPic:hover + .ratNameContainer {
  display: block;
}

.stillRats .ratPic:hover {
  filter: grayscale(0) !important;
}

#ratSelectScreen .ratPic:hover {
  animation: pulse ease-in 0.2s;
  transform: scale(1.3);
}

#ratSelectScreen #chooseText {
  font-family: 'Yusei Magic';
  font-size: 30px;
  margin-bottom: 0px;
  padding-top: 18px;
  color: #ffeeee;
  background-color: #ca5e77;
  border-bottom: 8px solid #eda9b7;
  width: 100%;
  text-align: center;
  height: 85px;
  z-index: 1;
}

#ratSelectScreen button {
  margin-top: -15px;
}

/* TALKING TO RATS */
#talkingToRatsScreen {
  overflow: hidden;
  background-image: url('img/Backgrounds/couch.gif');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 900px;
  height: 100%;
  position: relative;
}

#talkingToRatsScreen img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

#talkingToRatsScreen #ratName {
  font-family: 'Yusei Magic', sans-serif;
  font-size: 24px;
  background-color: #ad8f18;
  color: #f5eaca;

  width: fit-content;
  padding: 5px 20px;
  margin-left: 20px;
  border-radius: 10px 10px 0 0;
}

#talkingToRatsScreen #dialogueImg {
  animation: fadeIn ease 2s;
  width: 120px;
}

#talkingToRatsScreen #ratDialogue {
  font-family: 'Yusei Magic', sans-serif;
  font-size: 21px;
  padding: 15px 35px;
  background-color: #e0d192;
  width: 900px;
  padding-bottom: 90px;
  border-top: 13px solid #ad8f18;
}

#talkingToRatsScreen #dialogueContainer {
  position: absolute;
  width: 100%;
}

#talkingToRatsScreen button {
  font-size: 17px;
  padding: 5px 10px;
  margin-right: 4px;
  border: 2px;
  background-color: #d58d00;
}

#talkingToRatsScreen button:hover {
  background-color: #fff6dd;
  color: #d58d00;
}

#talkingToRatsScreen #responses {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 25px;
}

#talkingToRatsScreen #talkingRat,
.ratImg,
#playerRat {
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
}

.ratImg {
  left: -550px;
}

.enteringRat {
  animation: sendRatIn ease-out 0.8s !important;
  left: 0;
}

.leavingRat {
  left: -550px;
  animation: sendRatOut ease-in 0.8s !important;
}

#dialogueContainer {
  bottom: -400px;
}

#textDialogueContainer {
  position: relative;
}

#talkingToRatsScreen .enteringDialogue {
  bottom: 0;
  animation: sendDialogueIn ease-out 0.8s !important;
}

.leavingDialogue {
  /* bottom: -400px !important; */
  animation: sendDialogueOut ease-in 0.8s !important;
}

@keyframes sendRatIn {
  0% {
    left: -550px;
  }
  100% {
    left: 0px;
  }
}

@keyframes sendRatOut {
  0% {
    left: 0;
  }
  100% {
    left: -550px;
  }
}

@keyframes sendDialogueIn {
  0% {
    bottom: -400px;
  }
  100% {
    bottom: 0px;
  }
}

@keyframes sendDialogueOut {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -400px;
  }
}

#talkingRatContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
}

#talkingToRatsScreen #playerRat {
  left: 0;
  top: 0;
}

/* ROSE CEREMONY */
#roseCeremonyScreen {
  background-image: url('img/Backgrounds/rose_ceremony.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 900px;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

#roseCeremonyScreen.lastRose {
  background-image: url('img/Backgrounds/garden.png');
}

#roseCeremonyScreen.lastRose #instructions {
  background-color: rgba(0, 0, 0, 0) !important;
}

#ratSelectScreen .selectedRat {
  /* background-color: #c55f52 !important; */
  border-radius: 20px;
}

#ratSelectScreen .ratPic {
  filter: grayscale(1);
}

.selectedRat .ratPic {
  filter: grayscale(0) !important;
}

#roseCeremonyScreen .ratList {
  cursor: pointer;
  margin: 0;
  padding: 5px;
  font-weight: bold;
  /* background-color: lightpink; */
  width: fit-content;
  position: relative;
}

#roseCeremonyScreen #bouquet {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 800px;
}

.ratList .rosePic {
  width: 60px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 10px;
  display: none;
}

.selectedRat .rosePic {
  display: block;
}

#roseCeremonyScreen #ratListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  flex-direction: column;
  bottom: 80px;
}

#roseCeremonyScreen .allRatsSelected:hover .ratPic {
  animation: none !important;
  transform: scale(1) !important;
}

#roseCeremonyScreen .selectedRat {
  /* filter: grayscale(0) !important; */
}

#roseCeremonyScreen .ratPic {
  display: inline;
}

#roseCeremonyScreen .selectedRat .ratPic {
  display: none;
}
#roseCeremonyScreen .deselectedRat .ratPic {
  display: none;
}

#roseCeremonyScreen .ratWithRosePic {
  display: none;
}

#roseCeremonyScreen .selectedRat .ratWithRosePic {
  display: inline;
  /* -webkit-filter: drop-shadow(2px 2px 0px #574600)
    drop-shadow(-2px -2px 0px #574600) !important;
  filter: drop-shadow(2px 2px 0px #574600) drop-shadow(-2px -2px 0px #574600) !important; */
}
#roseCeremonyScreen .sadRatPic {
  display: none;
}
#roseCeremonyScreen .deselectedRat .sadRatPic {
  display: inline;
}

#roseCeremonyScreen .large {
  width: 310px;
}

#roseCeremonyScreen .med-large {
  width: 170px;
}

#roseCeremonyScreen .medium {
  max-height: 200px;
}
#roseCeremonyScreen .small {
  width: 100px;
}

#roseCeremonyScreen .roseIcon {
  width: 40px;
}

#roseCeremonyScreen #roseContainer {
}

#roseCeremonyScreen .hoverText {
  display: none;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
  background-color: rgb(236, 217, 165);
  color: rgb(59, 17, 11);
  font-family: 'Yusei Magic', sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 6px 0;
  border-radius: 10px;
  border: 4px solid rgb(232, 190, 27);
  z-index: 99;
  height: fit-content;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
}

#roseCeremonyScreen button {
  font-size: 24px;
  padding: 6px 20px;
  background-color: #bda127;
  border: none;
}

#roseCeremonyScreen button:hover {
  padding: 6px 20px;
  background-color: rgb(252, 239, 166);
  color: #bda127;
  border: none;
}

#roseCeremonyScreen .ratList:hover .hoverText {
  display: block;
}

#roseCeremonyScreen .ratList:hover .ratPic {
  animation: rosePulse 1s;
  transform: scale(1.2);
}

#roseCeremonyScreen #backRow,
#frontRow,
.middleRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

#roseCeremonyScreen #frontRow {
  margin-bottom: 30px;
  margin-top: -60px;
  margin-left: 80px;
}

.middleRow {
  margin-bottom: 150px;
}

#roseCeremonyScreen #instructions {
  background-color: rgba(24, 56, 71, 1);
  color: rgb(241, 227, 187);
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  font-family: 'Yusei Magic', sans-serif;
  font-size: 30px;
}

/* PROPOSAL SCREEN */
#proposalScreen {
  animation: fadeIn ease 2.4s;
  background-image: url('img/Backgrounds/beach.png');
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.propose-large {
  max-height: 600px;
  max-width: 600px;
  transform: scaleX(-1);
}

.propose-med-large {
  max-height: 500px;
  max-width: 500px;
}

.propose-medium {
  max-height: 300px;
}

.propose-small {
  max-width: 150px;
  max-height: 150px;
}

#finalRat {
  margin-right: 40px;
}

#proposalScreen #proposingRat {
  max-width: 300px;
  max-height: 300px;
  margin-bottom: -200px;
}

/* ANIME ENDING */
#animeEndingScreen {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: black;
}

#animePic {
  animation: fadeIn ease 10s;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}

#animeText {
  font-family: 'Yusei Magic';
  font-size: 20px;
  position: absolute;
  padding: 20px 40px;
  animation: slideUp ease 7s;
  background-color: rgba(236, 217, 165, 0.85);
  color: #4b4015;
  bottom: 0px;
  width: 100%;
}

/* SPECIAL ENDING */

#SpecialEndingScreen {
  /* background: url(./img/Photos/background.png) no-repeat center center fixed; */
  animation: fadeIn ease 6s;
  width: 900px;
  height: 100%;
  background-color: #ffe5e5;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  overflow: hidden;
}

#SpecialEndingScreen button {
  background-color: #ffffff;
  /* border: 3px solid #fe97b0; */
  color: #dd8d9d;
  padding-top: 6px;
  font-size: 24px;
  padding-bottom: 8px;
  border: none;
}

#SpecialEndingScreen .selectedRat {
  color: blue;
}

.ratHearts {
  display: none;
}

#SpecialEndingScreen .selectedRat .ratNameContainer {
  display: block;
  position: fixed; /* or absolute */
  top: 20%;
  left: 35%;
  z-index: 10000;
  width: 280px;
}
#SpecialEndingScreen .selectedRat .ratPic {
  z-index: 100;
  width: 300px;
  padding: 40px;
  pointer-events: none;
}

#SpecialEndingScreen .selectedRat .ratPic:hover {
  transform: scale(1);
  z-index: 1000;
}

#specialBg {
  position: absolute;
}

#SpecialEndingScreen button:hover {
  color: #ffffff;
  background-color: #eda9b7;
  border: none;
}

#SpecialEndingScreen #ratListContainer {
  display: flex;
  flex-wrap: wrap;
  /* padding: 5px; */
  display: flex;
  justify-content: center;
  /* margin-top: 15px; */
  position: relative;
}

#SpecialEndingScreen #ratContainer {
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 2px;
  margin-top: 130px;
}

#SpecialEndingScreen .ratListItem {
  cursor: pointer;
  height: 150px;
  width: 130px;
  padding-left: 0;
  padding-top: 14px;
  padding-bottom: 30px;
  font-weight: bold;
  position: relative;
}

#SpecialEndingScreen .ratNameContainer {
  font-family: 'Yusei Magic';
  font-size: 16px;
  text-align: center;
  padding-bottom: 10px;
  background-color: white;
  color: #a5596a;
  border: 6px solid #eda9b7;
  color: rgb(59, 17, 11);
  border: 6px solid rgb(232, 190, 27);
  background-color: rgb(255, 241, 203);
  position: absolute;
  border-radius: 12px;
  padding: 2px;
  width: 250px;
  left: -80px;
  right: 0;
  margin: auto;
  top: -90px;
  display: none;
  z-index: 999;
}

#SpecialEndingScreen .ratListItem:hover .ratNameContainer {
  display: block;
}

#SpecialEndingScreen .ratTagline {
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  padding: 5px;
}

#SpecialEndingScreen .ratPic {
  position: relative;
}
/* 
#SpecialEndingScreen .ratPic:hover + .ratNameContainer {
  display: block;
} */

#SpecialEndingScreen .ratPic:hover {
  /* animation: pulse ease-in 0.2s; */
  transform: scale(1.1);
  z-index: 10;
}

#epilogueButton {
  position: absolute;
  opacity: 1;
  animation: fadeInDelay ease 8s;
  right: 20px;
  top: 30px;
}

#SpecialEndingScreen #chooseText {
  font-family: 'Yusei Magic';
  font-size: 30px;
  margin-bottom: 0px;
  padding-top: 18px;
  color: #ffeeee;
  background-color: #ca5e77;
  border-bottom: 8px solid #eda9b7;
  width: 100%;
  text-align: center;
  height: 85px;
}

#SpecialEndingScreen button {
  margin-top: -15px;
  margin-left: 10px;
  border: 5px solid #eda9b7;
}

#SpecialEndingScreen button:hover {
  border: 5px solid #ffeeee;
}

#SpecialEndingScreen #endingButtonContainer {
  position: absolute;
  opacity: 1;
  animation: fadeInDelay ease 5s;
  top: 15px;
}

#payusButton {
  right: 162px;
}

#followusButton {
  right: 475px;
}

/* ANIMATIONS */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInDelay {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rosePulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }
}

@keyframes slideUp {
  0% {
    bottom: -500px;
  }
  100% {
    bottom: 0px;
  }
}

.reaction-animation {
  position: absolute;
  left: 20%;
  top: 20%;
  height: 5px;
  width: 5px;
  animation: emote-container-up 1000ms 0s forwards;
}

.reaction-emote {
  position: absolute;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  /* animation-delay: 150ms; */
  animation-fill-mode: forwards;
  width: 30px;
}

.reaction-emote img {
  width: 100%;
}

.reaction-emote-1 {
  animation-name: emote-1;
}

.reaction-emote-2 {
  animation-name: emote-2;
}

.reaction-emote-3 {
  animation-name: emote-3;
}

.reaction-emote-4 {
  animation-name: emote-4;
}
.reaction-emote-5 {
  animation-name: emote-5;
}

@keyframes emote-container-up {
  0% {
    transform: translate3d(0px, 0px, 0px) scale(1);
  }
  100% {
    transform: translate3d(0px, -20px, 0px) scale(1.8);
  }
}

@keyframes emote-1 {
  0% {
    opacity: 1;
    transform: translate3d(-10px, 0px, 0px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(-20px, -40px, 0px);
  }
}

@keyframes emote-2 {
  0% {
    opacity: 1;
    transform: translate3d(-18px, 2px, 0px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(-50px, -80px, 0px);
  }
}

@keyframes emote-3 {
  0% {
    opacity: 1;
    transform: translate3d(10px, -5px, 0px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(70px, -65px, 0px);
  }
}

@keyframes emote-4 {
  0% {
    opacity: 1;
    transform: translate3d(-6px, 0px, 0px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(-60px, -45px, 0px);
  }
}

@keyframes emote-5 {
  0% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(5px, -80px, 0px);
  }
}

#game-options {
  position: absolute;
  top: 316px;
  left: -220px;
  display: flex;
  align-items: center;
  transform: rotateZ(-90deg);
  z-index: 200;
}

.sound-icon {
  margin-right: 6px;
  cursor: pointer;
}

input[type='range'] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
  cursor: pointer;
  height: 48px;
  margin: 0px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type='range']:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type='range']::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid #977c40;
  height: 36px;
  width: 16px;
  border-radius: 8px;
  background: #fffec6;
  cursor: pointer;
  margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 0px 0px #977c40; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type='range']::-moz-range-thumb {
  border: 2px solid #977c40;
  height: 36px;
  width: 16px;
  border-radius: 8px;
  background: #fffec6;
  cursor: pointer;
  margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 0px 0px #977c40; /* Add cool effects to your sliders! */
}

/* All the same stuff for IE */
input[type='range']::-ms-thumb {
  border: 2px solid #977c40;
  height: 36px;
  width: 16px;
  border-radius: 8px;
  background: #fffec6;
  cursor: pointer;
  margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 0px 0px #977c40; /* Add cool effects to your sliders! */
}

.sound-slider {
  position: relative;
  width: 230px;
  height: 48px;
}

.sound-slider input {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.sound-slider .behind-slider {
  position: absolute;
  width: 100%;
  margin-top: 15px;
  height: 20px;
  z-index: 0;
  border-radius: 4px;
  border: 2px solid #977c40;
}

.player-img {
  width: 180px;
  flex-grow: 0;
  position: relative;
  filter: grayscale(1) brightness(1.2) contrast(0.8);
  z-index: 0;
}

#custom-character {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff5f5;
  position: relative;
}

#custom-character-row {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 24px;
  margin-top: 38px;
}

#ratchelor-intro-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffe5e5;
  padding-top: 5%;
  padding-bottom: 5%;
}

#hearts-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#ratchelor-intro-title {
  font-size: 42px;
  color: #c14d67;
  font-family: 'Yusei Magic', sans-serif;
}

#ratchelor-intro {
  width: 55%;
  text-align: center;
  font-family: 'Yusei Magic', sans-serif;
  color: #c14d67;
  font-size: 22px;
  margin-top: 15px;
}

#ratchelor-intro-question {
  font-family: 'Yusei Magic', sans-serif;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 28px;
  text-align: center;
  color: #c44663;
}

#custom-character #button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  z-index: 1;
}

#custom-character button {
  background-color: #c44663;
  border: 8px solid #ffe5ea;
  z-index: 1;
  font-size: 30px;
  padding: 10px 25px;
}

#custom-character button:hover {
  background-color: #fe97b0;
  color: white;
}

.player-img:hover {
  animation: wiggle 750ms linear 0s infinite forwards;
  filter: grayscale(0);
  transition: filter 500ms;
  cursor: pointer;
}

.player-img img {
  position: relative;
  width: 100%;
}

.player-img.selected-img {
  filter: grayscale(0);
}

.selected-bg {
  position: absolute !important;
  left: 0px;
  top: 0px;
  width: 150%;
  height: 130%;
  margin-top: -15%;
  margin-left: -15%;
  z-index: 2;
}

#button-container {
  height: 55px;
  width: 130px;
}

@keyframes wiggle {
  0% {
    transform: translate3d(0, 0, 0) rotateZ(0deg);
  }
  25% {
    transform: translate3d(10px, 0, 0) rotateZ(3deg);
  }
  50% {
    transform: translate3d(0px, 0, 0) rotateZ(0deg);
  }
  75% {
    transform: translate3d(-10px, 0, 0) rotateZ(-3deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotateZ(0deg);
  }
}

#game-container {
  position: relative;
  z-index: 0;
}

.game-container-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

#game {
  z-index: 0;
}

#stickers {
  position: absolute;
  top: 14px;
  width: auto;
  right: 108px;
  color: rgb(114, 63, 65);
  font-family: 'Yusei Magic', sans-serif;
  background-color: rgb(253, 237, 238);
  padding: 10px 10px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 12px;
}

#stickers:hover {
  background-color: #f8796a;
  color: rgba(254, 220, 221, 1);
}

#credit-title {
  margin-block-end: 0;
  margin-block-start: 0;
  padding: 13px 3px;
  margin: 0;
}

#credits {
  position: absolute;
  top: 14px;
  width: auto;
  right: 12px;
  padding: 0 12px;
  border-radius: 12px;
  line-height: 105%;
  background-color: rgb(253, 237, 238);
  font-family: Yusei Magic;
  text-align: center;
  color: rgb(114, 63, 65);
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
}

#credits #credit-title {
  font-size: 16px;
  display: block;
}

#credits:hover #credit-title {
  display: none;
}
#credits #algorats-credit {
  display: none;
}

#credits #algorats-credit-small {
  display: none;
}

#credits #sound-credit {
  display: none;
}

#credits:hover #algorats-credit {
  display: block;
}

#credits:hover #algorats-credit-small {
  display: block;
}

#credits:hover #sound-credit {
  display: block;
}

#credits a {
  color: rgb(187, 18, 54);
}

#algorats-credit-small {
  font-size: 14px;
}

#sound-credit {
  font-size: 11px;
  font-style: italic;
}

.hide-overflow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
